.input-field {
  margin-top: 50px;
}

.todo {
  margin-bottom: 20px;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background: #f3f3f3;
  cursor: pointer;
}

.todo i {
  z-index: 2;
}